<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= "Github Repo Name: #{RepoName.new.name_parsed}" %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>

  <footer>
    <%= "Merged Commits: #{GithubService.github_api_pr}" %>
    <div id="github_total_commits"><%= "Total Commits: #{GithubService.github_api_tc}" %></div>
  </footer>
 
</html>
