<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>

  <footer>
    <%= "Github Repo Name: #{RepoName.new.name_parsed}" %>
      <%= "Merged Commits: #{GithubService.github_api_pr}" %>
      <div id="github_commits">
        <%= "Brady Commits: #{GithubService.github_api_tc[:brady]}" %>
        <%= "Brandon Commits: #{GithubService.github_api_tc[:brandon]}" %>
        <%= "Bryan Commits: #{GithubService.github_api_tc[:bryan]}" %>
        <%= "Sergio Commits: #{GithubService.github_api_tc[:sergio]}" %>
      </div>
  </footer>
</html>
